{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/hello.css' %}">
	</head>
	<body>
	    <form action="/search" method="get">
			<div class="searchbar">
	         	<input type="text" id="search" value="Search a book in our recommend system" 
	        onfocus="if(value=='Search a book in our recommend system')value=''" onblur="if(!value)value='Search a book in our recommend system'" name="q" >  

			</div>
	        <div class="input_submit">
	           <input type="submit" id="input_submit" value="search">  
			</div>
		</form>
		<div style="height: 50px;"></div>
		{% for line in lst %}
        <div class="show" style="">{{line.title}}</div>
    	{% endfor %}
	</body>
</html>